@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 370px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 305px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 265px) {
  html {
    font-size: 35%;
  }
}

body {
  font-family: "Barlow";
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: #7b8bad;
  background-color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/shared/pattern-square.svg), url(/assets/shared/pattern-square.svg);
  background-position: calc(50% + 71.5rem) 0, calc(50% - 71.5rem) 75rem;
  background-repeat: no-repeat;
}
@media (max-width: 1007px) {
  main {
    background-image: none;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.8rem;
  padding: 0 2.6rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 700px) {
  .button {
    height: 4.8rem;
    padding: 0 1.4rem;
  }
}
.button--primary {
  color: #fff;
  background-color: #f16718;
}
.button--primary:hover {
  color: #e8eff2;
  background-color: #ff9b62;
}
.button--primary:active {
  opacity: 0.7;
}
.button--secondary {
  color: #162542;
  background-color: #e8eff2;
}
.button--secondary:hover {
  color: #e8eff2;
  background-color: #162542;
}
.button--secondary:active {
  opacity: 0.7;
}

@media (max-width: 1007px) {
  .feature {
    width: 50%;
    padding-right: 6.9rem;
  }
}
@media (max-width: 700px) {
  .feature {
    width: 100%;
    padding-right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.feature__icon {
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f16718;
  border-radius: 1.6rem;
  margin-bottom: 4.8rem;
}
@media (max-width: 1007px) {
  .feature__icon {
    margin-bottom: 4rem;
  }
}
@media (max-width: 700px) {
  .feature__icon {
    margin-bottom: 4.8rem;
  }
}
.feature__heading {
  color: #162542;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 2.4rem;
}
.feature__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 5.5rem;
  margin-bottom: 8.3rem;
}
@media (max-width: 1007px) {
  .nav {
    margin-top: 4rem;
    margin-bottom: 6.2rem;
  }
}
@media (max-width: 700px) {
  .nav {
    margin-top: 2.3rem;
    margin-bottom: 6.4rem;
  }
}
.nav__container {
  width: 100%;
  max-width: 117rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1007px) {
  .nav__container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 700px) {
  .nav__container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

.gallery {
  width: 100%;
  max-width: 117rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: grid;
  grid-template-columns: 25.5rem 25.5rem auto 35rem;
  grid-template-rows: 48rem 48rem;
  gap: 3rem;
  margin-bottom: 16.8rem;
  position: relative;
}
@media (max-width: 1007px) {
  .gallery {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 700px) {
  .gallery {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
@media (max-width: 1007px) {
  .gallery {
    grid-template-columns: 25.4rem 14.5rem auto;
    grid-template-rows: 42.5rem 32rem auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 14.2rem;
  }
}
@media (max-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 33.1rem 19.3rem auto;
    gap: 2.4rem;
    margin-bottom: 11.1rem;
  }
}
.gallery__header {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1007px) {
  .gallery__header {
    margin-left: 4rem;
  }
}
@media (max-width: 700px) {
  .gallery__header {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    margin-bottom: 4rem;
  }
}
.gallery__heading-1 {
  color: #162542;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 5.6rem;
  line-height: 5.6rem;
  width: 44.5rem;
  margin-bottom: 2.4rem;
}
@media (max-width: 1007px) {
  .gallery__heading-1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
    width: 33.9rem;
  }
}
@media (max-width: 700px) {
  .gallery__heading-1 {
    width: auto;
  }
}
.gallery__text {
  font-size: 1.8rem;
  line-height: 2.6rem;
  width: 44.5rem;
  margin-bottom: 4rem;
}
@media (max-width: 1007px) {
  .gallery__text {
    font-size: 1.6rem;
    width: 33.9rem;
  }
}
@media (max-width: 700px) {
  .gallery__text {
    width: auto;
  }
}
.gallery__image {
  border-radius: 2rem;
}
.gallery__buttons {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.gallery__release {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-transform: uppercase;
}
.gallery__image--1 {
  grid-column: 3/5;
  background-image: url(/assets/desktop/image-keyboard.jpg);
  background-position: center;
  background-size: cover;
}
@media (max-width: 1007px) {
  .gallery__image--1 {
    background-image: url(/assets/tablet/image-keyboard.jpg);
    background-position: left;
    border-radius: 2rem 0 0 2rem;
  }
}
@media (max-width: 700px) {
  .gallery__image--1 {
    grid-column: 1/3;
    background-image: url(/assets/mobile/image-keyboard.jpg);
    background-position: left;
    margin-left: 2.4rem;
  }
}
.gallery__image--2 {
  grid-column: 1/2;
  background-image: linear-gradient(#f16718 0%, #f16718 100%), url(/assets/desktop/image-phone-and-keyboard.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
@media (max-width: 1007px) {
  .gallery__image--2 {
    margin-left: 4rem;
    background-image: linear-gradient(#f16718 0%, #f16718 100%), url(/assets/tablet/image-phone-and-keyboard.jpg);
  }
}
@media (max-width: 700px) {
  .gallery__image--2 {
    margin-left: 0;
    background-image: linear-gradient(#f16718 0%, #f16718 100%), url(/assets/mobile/image-phone-and-keyboard.jpg);
    border-radius: 0 2rem 2rem 0;
  }
}
.gallery__image--3 {
  grid-column: 2/4;
  background-image: url(/assets/desktop/image-glass-and-keyboard.jpg);
  background-position: center;
  background-size: cover;
}
@media (max-width: 1007px) {
  .gallery__image--3 {
    grid-column: 2/5;
    margin-right: 4rem;
    background-image: url(/assets/tablet/image-glass-and-keyboard.jpg);
  }
}
@media (max-width: 700px) {
  .gallery__image--3 {
    grid-column: 2/3;
    margin-right: 2.4rem;
    background-image: url(/assets/mobile/image-glass-and-keyboard.jpg);
  }
}
.gallery__ending {
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
@media (max-width: 1007px) {
  .gallery__ending {
    grid-column: 1/5;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 6.9rem;
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .gallery__ending {
    grid-column: 1/3;
    margin-right: 2.44rem;
    margin-left: 2.44rem;
    margin-top: 5.1rem;
    flex-direction: column;
    text-align: center;
  }
}
.gallery__heading-2 {
  color: #162542;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.6rem;
  width: 25.5rem;
  margin-bottom: 2.7rem;
}
@media (max-width: 1007px) {
  .gallery__heading-2 {
    flex-shrink: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 700px) {
  .gallery__heading-2 {
    margin-bottom: 2.4rem;
  }
}
.gallery__ending-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  width: 25.5rem;
}
@media (max-width: 1007px) {
  .gallery__ending-text {
    width: auto;
    margin-left: 3.6rem;
  }
}
@media (max-width: 700px) {
  .gallery__ending-text {
    margin-left: 0;
  }
}

.features {
  width: 100%;
  max-width: 117rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}
@media (max-width: 1007px) {
  .features {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 700px) {
  .features {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
@media (max-width: 1007px) {
  .features {
    flex-wrap: wrap;
    gap: 7.2rem 0;
  }
}
@media (max-width: 700px) {
  .features {
    flex-direction: column;
    gap: 6.4rem;
    align-items: center;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 12.8rem;
  margin-bottom: 3.9rem;
}
@media (max-width: 1007px) {
  .footer {
    margin-top: 14.2rem;
    margin-bottom: 4.3rem;
  }
}
@media (max-width: 700px) {
  .footer {
    margin-top: 9.6rem;
    margin-bottom: 5rem;
  }
}
.footer strong {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
