.features {
  @include container;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;

  @include respond(tablet) {
    flex-wrap: wrap;
    gap: 7.2rem 0;
  }

  @include respond(mobile) {
    flex-direction: column;
    gap: 6.4rem;
    align-items: center;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }
}
