*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $Font;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: $Medium;
    color: $Color-Secondary-Light;
    background-color: $Color-White;
}